{% extends 'layouts/base.html' %} {% block title %} Dashboard {% endblock title %} {% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %} {% block content %}


<!-- main-content -->
<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">

            <div class="aboutus" id="aboutus">
                <h2 class="text-center user_heading">About</h2>
            </div>

            <div class="row">

                <div class="col-sm-12 col-md-6 ">
                    <p class="user_heading text-center h4" style="color:black !important; font-size:larger !important;"> Story</p>
                    <div class="text-left mx-3">
                        <p class="user_text text-justify">★ I am a MCA student at College of Engineering Guindy, Chennai. </p>
                        <p class="user_text text-justify"> ★ I completed my BCA at Madras University, Chennai.</p>
                        <p class="user_text text-justify"> ★ I have completed my school in 2016 from WPA.S.P.H.S.S, Chennai. </p>
                        <p class="user_text text-justify">★ My personal philosophy when it comes to education and learning is "The best preparation for tomorrow is doing your best today".</p>
                        <p class="user_text text-justify"> ★ I am good at orgaizing and methodical way of solving of a problem.</p>
                        <p class="user_text text-justify">★ I am also an enthusiastic, self-motivated. </p>
                        <p class="user_text text-justify">★ I am flexible, reliable and posses excellent time keeping skills.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 ">
                    <p class="user_heading text-center h4" style="color:black !important; font-size:larger !important;"> Technical</p>
                    <div class="text-left mx-3">
                        <!-- ◆ Subjects: Data Structures, Algorithms Design, and Analysis
◆ Concepts: Object-Oriented Design and Programming, System Design (LLD)
◆ Programming Languages: CPP, Java, Golang, Python
◆ SQL: PostgreSQL, MySQL
◆ Framework: Gin-Gonic (HTTP framework), Spring
◆ ORM tool: Hibernate
◆ Build tool: Maven
◆ Web Technologies: HTML, CSS, Core JS, PHP
◆ Cloud: AWS, Heroku
◆ Version Control: GIT -->

                        <p class="user_text text-justify">★ Programming Languages: CPP, Python</p>
                        <p class="user_text text-justify">★ Subjects: Data Structures, Data Science, Big Data</p>
                        <p class="user_text text-justify">★ Framework: Django, MERN</p>
                        <p class="user_text text-justify">★ SQL: PostgreSQL, MySQL, MariaDB</p>
                        <p class="user_text text-justify">★ NoSQL: MongoDB</p>
                        <p class="user_text text-justify">★ Web Technologies: HTML, CSS, Core JS, Bootstrap</p>
                        <p class="user_text text-justify">★ Cloud: AWS, Heroku</p>
                        <p class="user_text text-justify">★ Version Control: GIT</p>
                        <p class="user_text text-justify">★ Other Tools: MS OFFICE, Tableau, Postman</p>
                        <p class="user_text text-justify">★ Current Learning: Big Data With Aws, Machine Learing and Artifical Intelligence, And Data Analysis</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="missionandvission mt-5">
            <h2 class="text-center user_heading">My Projects & Certificates</h2>
        </div>

        <div class="">
            <div class="row mt-5">
                {% for i in selection %}
                <div class=" col-sm-6 col-md-4 ">
                    <div class="row d-flex justify-content-center ">
                        <div class="reachus_container">
                            <img src="{{i.image}}" height="180px" width="240px" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text">
                                    <a href="{% url 'detailswhatwedo' %}?search={{i.name}}&s={{i.id}}" class="text-white"> <i class="fa fa-eye" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-2">
                        <p class="" style="color: grey;">{{i.name}}</p>
                    </div>



                </div>
                {% endfor %}





            </div>


        </div>

    </div>



    {% include 'layouts/contactus.html' %}

    <!--    progress/sliders -->

    <!--                 end sliders -->
</div>
</div>


<!--         end carousel -->

</div>
<!-- End main-content -->



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}